h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(1, 97, 97); 
  text-align: center;
}

header{
  background-color: orangered;
  max-width: 100%;
  padding: 1px;
  align-items: center;
}
